.Select {
  display: flex;
  position: relative;
  height: 18px;
  margin-left: auto;
  margin-right: 30px;
  color: var(--theme-font);
  fill: var(--theme-font);
}

.Select_reset {
  border-top: 1px solid #DADCE0; 
}

.Select_reset_dark {
  border-top: 1px solid rgba(0, 0, 0, 0.4); 
}

.SelecteddNames {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.SelecteddNames_name {
  margin-left: 11px;
}

.SelecteddNames_icon {
  display: flex;
  align-items: center;
  margin-left: 16px;
  height: 100%;
}

.Select_icon {
  margin-left: 10px;
  display: flex;
  align-items: center;
  height: 100%;
 
}

.Optins {
  position: absolute;
  top: 30px;
  right: 0;
  display: flex;
  flex-direction: column;
} 

.Select > .Optins_theme_dark {
  background: var(--theme-mails-bg);
}

.Option {
  position: relative;
  color: var(--theme-mail-font);
  fill: var(--theme-mail-font);
  width: 240px;
  height: 44px;
  display: flex;
  align-items: center;
}

.Option_check {
  position: absolute;
  top: 10px;
  left: 7.3px;
  fill: var(--theme-mail-font);
}

.Options_icon {
  width: 16px;
  margin-left: 31px;
}

.Options_name {
  margin-left: 15px;
}

.Options_name_no_icon {
  margin-left: 31px;
}

