
.Textarea {
  display: flex;
  outline: none;
  padding: 22px;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 24px;
  box-sizing: border-box;
  overflow: auto;
  resize: none;
  width: 100%;
}

.Textarea_bold {
  font-weight: bold;
}

.Textarea_italic {
  font-style: italic;
}

.Textarea_underline {
  text-decoration: underline;
}

.Textarea_strike {
  text-decoration: line-through;
}

.Textarea_underline_strike {
  text-decoration: underline line-through;
}
 