.Mails {
  margin-left: var(--sidebar-width-full);
  width: calc(100vw - var(--sidebar-width-full) - 12px);
  min-width: 500px;
  margin-top: 68px;
  border-radius: 12px;
  background: var(--theme-mails-bg);
  color: var(--theme-mail-font);
  overflow: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 75px);
}

.Mails::-webkit-scrollbar {
  border-radius: 5px;
  width: 0.5em;
}

.Mails::-webkit-scrollbar-track {
  border-radius: 5px;
}

.Mails::-webkit-scrollbar-thumb {
  background-color: rgba(159, 169, 182, 0.388);
  border-radius: 5px;
}

.Mail {
  width: 100%;
  min-height: 40vh;
  padding-left: 32px;
  padding-top: 22px;
  padding-right: 24px;
  padding-bottom: 32px;
}

.Mail_header {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.Mail_title {
  max-width: 90%;
  margin-top: -6px;
  font-weight: 700;
  font-size: 24px;
}

.MailAuthor {
  position: relative;
  display: flex;
  justify-content: start;
  height: 60px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.MailAuthor>.ReadCheckBox {
  position: absolute;
  top: 21px;
  right: calc(100% + 13px);
}

.MailAuthor_desc {
  display: flex;
  flex-direction: column;
}

.MailAuthor_desc_names {
  display: flex;
}

.Mail_names {
  margin-right: 8px;
}

.Mail_names>span:first-child {
  margin-right: 5px;
}

.MailTo {
  font-size: 13px;
  line-height: 18px;
  color: var(--theme-mutedFont);
}

.MailDocs {
  display: flex;
  flex-wrap: wrap;
  max-width: 522px;
  margin-bottom: 8px;
  font-family: 'Helvetica Neue';
  font-size: 13px;
}

.MailDocs_download {
  color: #005BD1;
}

.MailDocs_filesize {
  color: var(--theme-mutedFont);
}

.MailDocs_img {
  width: 256px;
  height: 190px;
  border-radius: 12px;
}

.MailDocs_img:first-child {
  margin-right: 10px;
}

.MailText {
  width: 90.7%;
  margin-top: 28px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.MailLists {
  overflow: auto;
}

.MailListItem {
  position: relative;
  min-width: 500px;
  width: 100%;
  max-width: 100%;
  height: 48px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  white-space: nowrap;
}


.MailListItem:hover {
  background: rgba(0, 16, 61, 0.04);
}

.MailListItem_theme:hover {
  background: var(--theme-btn-hover);
}

.ReadCheckBox {
  position: relative;
  margin-left: 13px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #A5A7AD;
  visibility: visible;
}

.ReadCheckBox::after {
  position: absolute;
  top: -7px;
  right: -7px;
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.MailListItem:not(.MailListItem:hover)>.ReadCheckBox:not(.ReadCheckBox_active) {
  visibility: hidden;
}

.ReadCheckBox_active {
  background: #005FF9;
}

.ReadCheckBox>input[type=checkbox] {
  visibility: hidden;
}

.Author {
  display: flex;
  align-items: center;
  margin-left: 11px;
}

.AuthorCheckBox_wrapper {
  display: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 12px;
}

.AuthorCheckBox {
  display: none;
  width: 16px;
  height: 16px;
  background: var(--theme-mails-bg);
  border: 1px solid rgba(0, 16, 61, 0.12);
  border-radius: 4px;
}

.AuthorCheckBox_theme {
  background: var(--theme-btn-hover);
  border: 1px solid rgba(255, 255, 255, 0.16);
}

.MailListItem:hover>.Author>.AuthorCheckBox_wrapper,
.AuthorCheckBox_wrapper_show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.MailListItem:hover>.Author>.AuthorCheckBox_wrapper>.AuthorCheckBox,
.AuthorCheckBox_wrapper_show>.AuthorCheckBox {
  display: block;
}

.AuthorCheckBox_wrapper_show~.Avatar {
  display: none;
}

.AuthorCheckBox_active {
  background: #005FF9;
}

.AuthorCheckBox>input[type=checkbox] {
  display: none;
}

.AuthorCheckBox_Icon:not(.AuthorCheckBox_active) {
  display: none;
}

.AuthorCheckBox_active>.AuthorCheckBox_Icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
}

.Avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 12px;
  background: #D3B3FF;
}

.Avatar_label {
  font-family: 'Mail Sans Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  padding-top: 8px;
  color: #874DD6;

}

.MailListItem:hover>.Author>.Avatar {
  display: none;
}

.Author_names {
  width: 167px;
  text-align: start;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.Author_name {
  max-width: 136px;
  padding-right: 5px;
}

.ReadCheckBox_active~.Author>.Author_names {
  font-weight: 700;
}

.Bookmark {
  margin-left: 31px;
  margin-right: 27px;
}

.Bookmark>input {
  display: none;
}

.MailListItem:not(.MailListItem:hover)>.Bookmark:not(.Bookmark_active) {
  opacity: 0;
}

.MailListItem:not(.MailListItem:hover)>.Bookmark_hide:not(.Bookmark_active) {
  display: none;
}

.exclamation {
  margin-left: 34px;
  margin-right: 31px;
}

.MailListItem:hover>.exclamation {
  display: none;
}

.Bookmark_active~.exclamation {
  display: none;
}

.MailContent {
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
}

.title {
   
  margin-right: 8px;
  text-align: start;
  overflow: hidden;
  white-space: nowrap;
}

.ReadCheckBox_active~.MailContent>.title {
  font-weight: 700;
}

.text {
  color: var(--theme-mutedFont);
  text-align: start;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
}

.wrap_widget {
  display: flex;
  justify-content: end;
  margin-left: 10px;
}


.Category {
  display: flex;
  align-items: center;
  min-width: 24px;
}

.wrap_widget>.Category {}

.Category_name {
  padding-left: 10.5px;
}

.Attach {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  margin-left: 10.5px;
  fill: #D9DADD;
}

.Attach:not(.Attach_theme_dark) {
  fill: #2C2D2E;
}

.Attach:hover {
  background: rgba(0, 16, 61, 0.04);
}

.Attach_theme_dark:active,
.Attach_active {
  background: rgba(255, 255, 255, 0.08);
}

.Attach:active:not(.Attach_theme_dark),
.Attach_active:not(.Attach_theme_dark) {
  background: rgba(0, 16, 61, 0.08);
}

.Attach_theme_dark:hover {
  background: rgba(255, 255, 255, 0.04);
}

.AttachModal {
  flex-direction: column;
  align-items: flex-start;
  padding-top: 8px;
  padding-bottom: 8px;
}

.MailLists>.AttachModal_theme_dark {
  background: var(--theme-mails-bg);
}

.AttachModal_preview {
  height: 40px;
  width: 298px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.AttachModal_preview:hover {
  background: rgba(0, 16, 61, 0.04);
}

.AttachModal_theme_dark >.AttachModal_preview:hover {
  background: var(--theme-btn-active);
}

.AttachModal_preview_img {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  margin-left: 12px;
  margin-right: 8px;
}

.AttachModal_preview:not(.AttachModal_preview:hover)>.AttachModal_preview_full {
  display: none;
}

.AttachModal_preview_full {
  right: 302px;
  bottom: 0;
}

.AttachModal_theme_dark >.AttachModal_preview > .AttachModal_preview_full {
  background: var(--theme-mails-bg);
}

.AttachModal_preview:before {
  position: absolute;
  right: 298px;
  content: '';
  width: 4px;
  height: 100%;
}

.AttachModal_preview_full_bottom {
  top: 0;
  bottom: auto;
}

.AttachModal_preview_full_img {
  width: 264px;
  height: 198px;
  border-radius: 12px;
  margin: 4px;
}

.Date {
  display: flex;
  align-items: center;
  height: 24px;
  min-width: 60px;
  margin-left: 16px;
  margin-right: 17px;
  color: #87898F;
}

.MailListItem:hover>.MailListItem_hr {
  display: none;
}

.MailListItem_hr {
  display: block;
  position: absolute;
  left: 72px;
  top: -1px;
  width: calc(100% - 83px);
  border: 1px solid #F6F7F8;
}

.MailListItem_hr_theme {
  border: 1px solid var(--theme-bg);
}

.MailListItem:hover + .MailListItem > .MailListItem_hr {
  display: none;
}

.MailList_page_fixer {
  height: 10px;
  width: 100%;
}

@media screen and (max-width: 900px) {

  .Mails {
    margin-left: var(--sidebar-width-mini);
    width: calc(100vw - var(--sidebar-width-mini) - 12px);
  }

  .Mails::-webkit-scrollbar {
    width: 0.4em;
  }

  .MailListItem {
    width: calc(100vw - 70px);
  }

  .title {
    max-width: 262px;
  }


}