.Mails {
  display: flex;
  margin-left: 232px;
  margin-top: 68px;
  margin-right: 12px;
  width: 100%;
  border-radius: 12px;
  background: #FFFFFF;
}

.Mail {
  width: 100%;
  min-height: 40vh;
  padding-left: 32px;
  padding-top: 22px;
  padding-right: 24px;
  padding-bottom: 32px;
}

.Mail_header {
  display: flex;
  justify-content: space-between;
}

.Mail_title {
  margin-top: -6px;
  font-weight: 700;
  font-size: 24px;
}

.MailAuthor {
  position: relative;
  display: flex;
  justify-content: start;
  height: 60px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.MailAuthor>.ReadCheckBox {
  position: absolute;
  left: -13px;
  top: 21px;
}

.MailAuthor_desc {
  display: flex;
  flex-direction: column;
}

.MailAuthor_desc_names {
  display: flex;
}

.Mail_names {
  margin-right: 8px;
}

.Mail_names>span:first-child {
  margin-right: 5px;
}

.MailTo {
  font-size: 13px;
  line-height: 18px;
  color: #87898F;
}

.MailDocs {
  display: flex;
  flex-wrap: wrap;
  max-width: 522px;
  margin-bottom: 8px;
  font-family: 'Helvetica Neue';
  font-size: 13px;
}

.MailDocs_download {
  color: #005BD1;
}

.MailDocs_filesize {
  color: #87898F;
}

.MailDocs_img {
  width: 256px;
  height: 190px;
  border-radius: 12px;
}

.MailDocs_img:first-child {
  margin-right: 10px;
}

.MailText {
  margin-top: 28px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
}

.MailLists {
  overflow: auto;
  
}

.MailLists::-webkit-scrollbar {
  border-radius: 5px;
  width: 0.6em;
}

.MailLists::-webkit-scrollbar-track {
  border-radius: 5px;
}

.MailLists::-webkit-scrollbar-thumb {
  background-color: rgba(0, 16, 61, 0.08);
  border-radius: 5px;
}

.MailListItem {
  position: relative;
  width: calc(100vw - 242px);
  height: 48px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
}

.MailListItem:hover {
  background: rgba(0, 16, 61, 0.04);
}

.ReadCheckBox {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  left: 11px;
  background: #A5A7AD;
}

.MailListItem:not(.MailListItem:hover) > .ReadCheckBox:not(.ReadCheckBox_active) { 
  display: none;
}

.ReadCheckBox_active {
  background: #005FF9;
}

.ReadCheckBox>input[type=checkbox] {
  display: none;
}

.Author {
  display: flex;
  align-items: center;
  margin-left: 28px;
}

.AuthorCheckBox_wrapper {
  display: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 12px;
}

.AuthorCheckBox {
  display: none;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 16, 61, 0.12);
  border-radius: 4px;
}

.MailListItem:hover>.Author>.AuthorCheckBox_wrapper,
.AuthorCheckBox_wrapper_show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.MailListItem:hover>.Author>.AuthorCheckBox_wrapper>.AuthorCheckBox,
.AuthorCheckBox_wrapper_show>.AuthorCheckBox {
  display: block;
}

.AuthorCheckBox_wrapper_show~.Avatar {
  display: none;
}

.AuthorCheckBox_active {
  background: #005FF9;
}

.AuthorCheckBox>input[type=checkbox] {
  display: none;
}

.AuthorCheckBox_Icon:not(.AuthorCheckBox_active) {
  display: none;
}

.AuthorCheckBox_active>.AuthorCheckBox_Icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 12px;
  background: #D3B3FF;
}

.Avatar_label {
  font-family: 'Mail Sans Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  padding-top: 8px;
  color: #874DD6;

}

.MailListItem:hover>.Author>.Avatar {
  display: none;
}

.Author_names {
  width: 167px;
  text-align: start;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.Author_name {
  max-width: 136px;
  padding-right: 5px;
}

.ReadCheckBox_active~.Author>.Author_names {
  font-weight: 700;
}

.Bookmark {
  margin-left: 31px;
  margin-right: 27px;
}

.Bookmark>input {
  display: none;
}

.MailListItem:not(.MailListItem:hover)>.Bookmark:not(.Bookmark_active) {
  opacity: 0;
}

.MailListItem:not(.MailListItem:hover)>.Bookmark_hide:not(.Bookmark_active) {
  display: none;
}

.exclamation {
  margin-left: 34px;
  margin-right: 31px;
}

.MailListItem:hover>.exclamation {
  display: none;
}

.Bookmark_active~.exclamation {
  display: none;
}

.MailContent {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.title {
  max-width: 252px;
  text-align: start;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
} 

.ReadCheckBox_active~.MailContent>.title {
  font-weight: 700;
}

.text {
  color: #87898F;
  text-align: start;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
}

.wrap_widget {
  width: 100%;
  display: flex;
  justify-content: end;
}


.Category {
  display: flex;
  align-items: center;
}

.wrap_widget > .Category {
}

.Category_name {
  padding-left: 10.5px;
}

.Attach {
  margin-left: 10.5px;
}

.Date {
  min-width: 44px;
  margin-left: 16px;
  margin-right: 17px;
  color: #87898F;
}

.MailListItem_hr {
  position: absolute;
  left: 72px;
  bottom: 0;
  width: calc(100% - 83px);
  border: 1px solid #F6F7F8;
}

.MailListItem_hr_theme {
  border: 1px solid var(--theme-bg);
}

.screen {
  display: none;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 35%;
  width: 200px;
  height: 50px;
  font-size: 20px;
}

.screen::after {
  position: absolute;
  content: 'normal';
}

.MailList_page_fixer {
  height: 10px;
  width: 100%;
}


@media screen and (max-width: 1366px) {

  .screen::after {
    content: 'max-width: 1366px';
  }
  
}

@media screen and (max-width: 1200px) {
  .screen::after {
    content: 'max-width: 1200px';
  }
}

@media screen and (max-width: 1100px) {
  .screen::after {
    content: 'max-width: 1366px';
  }
}

@media screen and (max-width: 1000px) {
  .screen::after {
    content: 'max-width: 1000px';
  }
}

@media screen and (max-width: 950px) {
  .screen::after {
    content: 'max-width: 950px';
  }   
}

@media screen and (max-width: 900px) {

  .screen::after {
    content:'max-width: 900px';
  }  

  .Mails {
    margin-left: 65px;
  }

  .MailLists::-webkit-scrollbar {
    width: 0.4em;
  }

  .MailListItem {
    width: calc(100vw - 70px);
  }

  .title {
    max-width: 150px;
  }

  
}

@media screen and (max-width: 800px) {

  .screen::after {
    content:'max-width: 800px';
  }  

  .title {
    max-width: 130px;
  }
}

@media screen and (max-width: 700px) {

  .screen::after {
    content:'max-width: 700px';
  }  
}

@media screen and (max-width: 600px) {

  .screen::after {
    content:'max-width: 600px';
  }  
}
