.Mails {
  border-radius: 12px;
  margin-left: 16px;
  background: #FFFFFF;
}

.MailList_item {
  height: 48px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  text-align: center;
}

.MailList_item:hover {
  background: rgba(0, 16, 61, 0.04);
}

.Read_CheckBox {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-left: 11px;
  margin-right: 11px;
  background: #A5A7AD;
}

.Read_CheckBox_active {
  background: #005FF9;
}

.Read_CheckBox > input[type=checkbox] { 
  display: none;
}

.Author {
  display: flex;
  align-items: center;
}

.Avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 12px;
}

.Names {
  width: 167px;
  word-wrap: break-word;
  outline: 1px solid red;
}