:root {
  --theme-bg: #F6F7F8;
  --theme-header-bg: #ffffff;
  --theme-logo-mail-color: #005FF9;
  --theme-font: #333333;
  --theme-mail-font: #2C2D2E;
  --theme-mutedFont: #87898F;
  --theme-btn-hover: rgba(255, 255, 255, 0.24);
  --theme-btn-active: rgba(0, 16, 61, 0.08);
  --theme-mails-bg: none;
}

.MailClient {
  background: var(--theme-bg);
  background-size: 1920px 1200px;
  transition: 80ms;
}

.MailClient_scale {
  transform: scale(0.8);
}

.Content {
  display: flex;
  width: 100vw;
  height: 100vh;
}