:root {
  --width-full: 200px;
  --width-mini: 36px;
  --width-big: 223px;
}

.Button {
  width: var(--width-full);
  height: 36px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
}

.Button_hide {
  display: none; 
}

.Button_full {
  width: var(--width-full);
}

.Button_full > .Name {
  display: inline;
}

.Button_hideIcon > .Icon > * {
  display: none;
}

.Button_mini {
  width: var(--width-mini);
}

.Button_mini > .Name {
  display: none;
}

.Button_big {
  width: var(--width-big);
  height: 40px;
  padding: 10px 16px;
  border-radius: 8px;
}

.Button_light {
  color: #87898f;
  fill:#87898f;
}

.Button_border {
  outline: 1px solid rgba(0, 16, 61, 0.12);  
}

.Button:hover {
  background: rgba(0, 16, 61, 0.04);
}

.Button_light:hover {
  color: #333333;
  fill:#333333;
}

.Button:active, .Button_active, .Button_active:hover {
  background: rgba(0, 16, 61, 0.08);
}

.Button:active > .Name, .Button_active > .Name {
  font-weight: 700;
}

.Icon {
  width: 36px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {

  .Button_miniHide {
    display: none; 
  }

  .Button:not(.Button_full) {
    max-width: var(--width-mini);
  }

  .Button:not(.Button_full) > .Icon > * {
    display: block;
  }

  .Name {
    display: none;
  }
}

