.Header {
  position: fixed;
  z-index: 1;
  min-width: 100vw;
  padding-left: 16px;
  height: 56px;
  display: flex;
  align-items: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background: #FFFFFF;
}

.Logo_Mail_show {
  display: inline;
}

.Logo {
  width: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Back {
  width: 99px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .Logo_Mail:not(.Logo_Mail_show) {
    display: none;
  }
}