.Header {
  position: fixed;
  z-index: 2;
  min-width: 100vw;
  height: 56px;
  display: flex;
  align-items: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background: var(--theme-header-bg);
}

.Logo_Mail {
  fill: var(--theme-logo-mail-color);
}

.Logo_Mail_show {
  display: inline;
}

.Logo {
  margin-left: 16px;
  width: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Back {
  margin-left: 34px;
  display: flex;
  align-items: center;
  height: 20px;
  fill: var(--theme-font);
}

.Back_text {
  margin-left: 19.5px;
  color: var(--theme-font);
}

.Back_text_show {
  display: inline;
}

@media screen and (max-width: 900px) {
  .Logo_Mail:not(.Logo_Mail_show) {
    display: none;
  }

  .Back {
    margin-left: 28px;
  }

  .Back_text:not(.Back_text_show) {
    display: none;
  }
}