.Sidebar {
  width: 232px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.WriteEmail {
  border: 1px solid rgba(0, 16, 61, 0.12);
  margin-bottom: 12px;
}

.Burger {
  display: none;
}

.Counter {
  margin-left: auto;
  margin-right: 0;
  text-align: end;
  padding-right: 12px;
  color:  #2C2D2E;
}

.Separator {
  width: 200px;
  height: 1px;
  margin-top: 8px;
  margin-bottom: 8px;
  background: rgba(0, 16, 61, 0.12);
}

.AddFolder > button {
  color: #87898f;
  fill:#87898f;
}

.AddFolder > button:hover {
  color: #333333;
  fill:#333333;
}

@media screen and (max-width: 900px) {

  .Sidebar {
    width: 64px;
  }

  .Button {
    max-width: 36px;
  }

  .Button > span {
    display: none;
  }

  .Burger {
    display: block;
  }

  .Counter {
    display: none;
  }

  .Separator {
    display: none;
  }

  .AddFolder {
    display: none;
  }
}